table {
    width: 60%; /* Adjust the width as needed */
    border-collapse: collapse;
    margin: 40px; /* Center the table */
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    overflow-wrap: break-word; /* Allow text wrapping */
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  .ContainerForm {
    margin-bottom: 20px; /* Add spacing between form containers */
    border: 1px solid #ccc; /* Add a border to visually separate containers */
    padding: 10px; /* Add padding for better spacing */
  }
  