<!DOCTYPE html>
{% load static %}

<html lang="en">

<head>

  <meta charset="UTF-8" />

  <title>High and Tidy Cleaning App!</title>

  <meta name="viewport" content="width=device-width,initial-scale=1" />

  <meta name="description" content="" />

  <link rel="icon" href="{% static 'favicon.ico' %}">

  <link rel="stylesheet" href="{% static 'styleshello.css' %}">

</head>

<body>

  <h1>Hello, {{ name }}!</h1>

  <div>If you are new, click <a href="/guest">HERE</a> to take a tour. 

    Otherwise click <a href="/login">HERE</a> to log in or click <a href="/signup">HERE</a> to sign up.</div>
    <br>
    <br>

  <img src="{% static '20240115-highandtidy4.png' %}" alt="High and Tidy" width="400" height="400">

</body>

</html>